.ready-for-dev {
    width: 50%;
    color: #FFF;
    gap: 20px;
}

.ready-for-dev h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.ready-for-dev p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.ready-for-dev button{
    padding: 15px 120px;
    border-radius: 10px;
}
.ready-for-dev button:active{
    transform: scale(0.9);
    transition: 0.3s;
}

@media not all and (min-width: 768px) {
    .ready-for-dev {
        width: 90%;
    }
    .ready-for-dev h3 {
        font-size: 24px;
    }
    .ready-for-dev p {
        font-size: 16px;
    }
    .ready-for-dev button{
        padding: 15px 100px;
    }
}