@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid black; */
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
